<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %>
      <br/>
      <%= f.email_field :email %></div>

    <div><%= f.label :password %>
      <br/>
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation %></div>

    <hr>

    <h4>Profile Information</h4>

    <div><%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %></div>

    <div><%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %></div>

    <div id="countries_states2" class="selectbox countries" data-flags="true" data-country="US">
      <%= f.hidden_field :country %>
      <a class="selectbox-toggle" role="button" data-toggle="selectbox" href="#">
        <span class="selectbox-option input-medium" data-option=""></span>
        <b class="caret"></b>
      </a>

      <div class="selectbox-options">
        <input type="text" class="selectbox-filter">

        <ul role="options">
        </ul>
      </div>
    </div>

    <div class="selectbox states" data-country="countries_states2">
      <%= f.hidden_field :state %>
      <a class="selectbox-toggle" role="button" data-toggle="selectbox" href="#">
        <span class="selectbox-option input-medium" data-option=""></span>
        <b class="caret"></b>
      </a>

      <div class="selectbox-options">
        <input type="text" class="selectbox-filter">
        <ul role="options">
        </ul>
      </div>
    </div>

    <div><%= f.label :age %>
      <br/>
      <%= f.text_field :age %></div>

    <div><%= f.label :gender %>
      <br/>
      <%= f.text_field :gender %></div>

    <div class="selectbox languages" data-language="en" data-flags="true">
      <%= f.hidden_field :native_language %>
      <a class="selectbox-toggle" role="button" data-toggle="selectbox" href="#">
        <span class="selectbox-option input-medium" data-option=""></span>
        <b class="caret"></b>
      </a>

      <div class="selectbox-options">
        <input type="text" class="selectbox-filter">
        <ul role="options">
        </ul>
      </div>
    </div>

    <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
