<section class="subsection">
  <div class="add-voice">Search</div>
</section>

<div id="container">
  <div id="site_info_container">
  <h4 class="alert alert-info" style="width:60%;"> Leave field blank/empty to ignore </h4>
  <%= form_for @search, :url => "/search/result", :html => {:method => :get, :class => ["form-horizontal"]} do |f| %>

  <div class="control-group">
    <%= f.label :word_contains, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :word_contains %><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_gender_contains, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_gender_contains" name="search[user_gender_contains]" class="selectbox input-medium">
        <option class="selectbox-option" value="">Don't Care</option>
        <option class="selectbox-option" value="male">Male</option>
        <option class="selectbox-option" value="female">Female</option>
      </select><br/><br/>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_age_gte, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user_age_gte %><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_native_language_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_native_language_equals" name="search[user_native_language_equals]" class="input-medium languages" data-language="en"></select><br /><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_country_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_country_equals" name="search[user_country_equals]" class="input-medium countries" data-country="US"></select><br /><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_state_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_state_equals" name="search[user_state_equals]" class="input-medium states" data-country="search_user_country_equals"></select><br /><br />
    </div>
  </div>

  <%= f.submit :class => ["btn btn-primary"] %>
<% end %>
  </div>
</div>