<!DOCTYPE html>
<html>
<head>
  <title>Arqu</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller] %>_<%= params[:action] %>">

<div id="header_lines"></div>

<div id="container">
  <div id="site_info_container">
  <h4 class="alert alert-info" style="width:60%;"> Leave field blank/empty to ignore </h4>
  <%= form_for @search, :url => "/search/result", :html => {:method => :get, :class => ["form-horizontal"]} do |f| %>

  <div class="control-group">
    <%= f.label :word_contains, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :word_contains %><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_gender_contains, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_gender_contains" name="search[user_gender_contains]" class="selectbox input-medium">
        <option class="selectbox-option" value="">Don't Care</option>
        <option class="selectbox-option" value="male">Male</option>
        <option class="selectbox-option" value="female">Female</option>
      </select><br/><br/>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_age_gte, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user_age_gte %><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_native_language_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_native_language_equals" name="search[user_native_language_equals]" class="input-medium languages" data-language="en"></select><br /><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_country_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_country_equals" name="search[user_country_equals]" class="input-medium countries" data-country="US"></select><br /><br />
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_state_equals, :class => "control-label" %>
    <div class="controls">
      <select id="search_user_state_equals" name="search[user_state_equals]" class="input-medium states" data-country="search_user_country_equals"></select><br /><br />
    </div>
  </div>

  <%= f.submit :class => ["btn btn-primary"] %>
<% end %>
  </div>
</div>

<div id="footer">
  <div id="left">Project by UCSD students.</div>
  <div id="right">GNU General Public License, version 3 (GPL 3.0)</div>
</div>

</body>
</html>
