<section class="subsection">
  <div class="add-voice">Search Results</div>
</section>

<div id="container">
  <div id="site_info_container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Word</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Country</th>
          <th>City</th>
          <th>Native Language</th>
        </tr>
      </thead>
      <tbody>
        <% if @result.length > 0 %>
          <% @result.each do |dict| %>
            <% @user = User.find(dict.user_id) %>
            <tr>
              <td> <a href=<%= "#word_" + dict.word %> role="button" class="btn btn-success" data-toggle="modal"><%= dict.word %> <i class="icon-volume-up"></i></a> </td>
              <td> <%= @user.age %> </td>
              <td> <%= @user.gender %> </td>
              <td> <span class="countries" data-country="<%= @user.country %>" data-flags="true"></span> </td>
              <td> <span class="states" data-country="<%= @user.country %>" data-state="<%= @user.state %>"></span></td>
              <td> <span class="languages" data-language="<%= @user.native_language %>" data-flags="true"></span> </td>
            </tr>
            <!-- Modal -->
            <div id=<%= "word_#{dict.word}" %> class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"><%= dict.word.capitalize %></h3><br />
                <blockquote><%= dict.description %></blockquote>
              </div>
              <div class="modal-body">
                <center><p>
                  <object width="220" height="140"><param name="movie" value=<%= "http://vocaroo.com/mediafoo.swf?playMediaID=#{dict.voice_id}&autoplay=0" %>></param><embed src=<%= "http://vocaroo.com/mediafoo.swf?playMediaID=#{dict.voice_id}&autoplay=0" %> width="220" height="140" pluginspage="http://get.adobe.com/flashplayer/" type="application/x-shockwave-flash"></embed></object>
                </p></center>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
           <% end %>
        <% end %>
        
      </tbody>
     </table>
  </div>
  <a class="btn btn-primary" style="color:white;" href="/search">Advanced Search</a> <a style="color:white;" class="btn btn-primary" href="/">Search Again</a>
</div>
